@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Tab content - closed */
.tab-content {
  max-height: 0;

  color: #b6b7ff;
  -webkit-transition: max-height 0.35s;
  -o-transition: max-height 0.35s;
  transition: max-height 0.35s;
}
/* :checked - resize to full height */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}
/* Label formatting when open */
.tab input:checked + label {
  /*@apply text-xl p-5 border-l-2 border-indigo-500 bg-gray-100 text-indigo*/
  padding: 1.25rem; /*.p-5*/
}
/* Icon */
.tab label::after {
  float: right;
  right: 0;
  top: 0;
  display: block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5;
  font-size: 1.25rem;
  text-align: center;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}
/* Icon formatting - closed */
.tab input[type='checkbox'] + label::after {
  content: '+';
  font-weight: bold; /*.font-bold*/
  border-width: 1px; /*.border*/
  border-radius: 9999px; /*.rounded-full */

  border-color: #b6b7ff; /*.border-grey*/
}
.tab input[type='radio'] + label::after {
  content: '\25BE';
  font-weight: bold; /*.font-bold*/
  border-width: 1px; /*.border*/
  border-radius: 9999px; /*.rounded-full */

  border-color: #7ffdff; /*.border-grey*/
}
/* Icon formatting - open */
.tab input[type='checkbox']:checked + label::after {
  transform: rotate(315deg);
  background-color: #7ffdff; /*.bg-indigo*/
  color: #b6b7ff; /*.text-grey-lightest*/
}
.tab input[type='radio']:checked + label::after {
  transform: rotateX(180deg);
  background-color: #7ffdff; /*.bg-indigo*/
  color: #b6b7ff; /*.text-grey-lightest*/
}
/* 

/*Image Hover*/
.image {
  position: relative;
  width: 200px;
}

.image__img {
  display: block;
  width: 80%;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay--primary {
  background: #7ffdff;
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  font-size: 2em;
  font-weight: bold;
}

.image__description {
  font-size: 1.25em;
  margin-top: 0.25em;
}

.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  right: 0;
  border-color: #7ffdff;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-green-400;
  background-color: #7ffdff;
}

.btn-light {
  box-shadow: 4px 4px 6px #d1d5db, inset -3px -3px 6px #d1d5db,
    -4px -4px 6px #fff, inset 3px 3px 6px #fff;
}

.btn-light:hover {
  box-shadow: 2px 2px 6px #d1d5db, inset -2px -2px 6px #d1d5db,
    -2px -2px 6px #fff, inset 2px 2px 6px #fff;
}

.btn-light:active {
  box-shadow: -2px -2px 6px #d1d5db, inset 2px 2px 6px #d1d5db, 2px 2px 6px #fff,
    inset -2px -2px 6px #fff;
}

.btn-green {
  box-shadow: 4px 4px 6px #035b7e, inset -3px -3px 6px #035b7e,
    -4px -4px 6px #0493cc, inset 3px 3px 6px #0493cc;
}

.btn-green:hover {
  box-shadow: 2px 2px 6px #035b7e, inset -2px -2px 6px #035b7e,
    -2px -2px 6px #0493cc, inset 2px 2px 6px #0493cc;
}

.btn-green:active {
  box-shadow: -2px -2px 6px #035b7e, inset 2px 2px 6px #035b7e,
    2px 2px 6px #0493cc, inset -2px -2px 6px #0493cc;
}

button span {
  margin-top: 0;
  transition: margin 200ms;
}

button:hover span {
  margin-top: 1px;
}

button:active span {
  margin-top: 4px;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  /* background: url(bg.jpg); */
  background-color: cornflowerblue;
  background-size: cover;
  background-position: bottom;
}

.banner .clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cloud1 {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: animate 8s linear infinite;
}
.cloud2 {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: animate 16s linear infinite;
}
.cloud2 {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: animate 24s linear infinite;
}
@keyframes animate {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
